*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --black-clr: #1c1d1f;
    --white-clr: #fff;
    --blue-clr: #561ce8;
}

.display{
    display: flex;
    align-items: center;
}

body{
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    width: 100%;
}

.header-section{
    background-color: var(--white-clr);
}

.header-nav{
    padding: 14px 1.3em;
    position: relative;
    z-index: 1000;
    box-shadow: 0px 2px 6px 0px rgba(158,149,149,0.57);
-webkit-box-shadow: 0px 2px 6px 0px rgba(158,149,149,0.57);
-moz-box-shadow: 0px 2px 6px 0px rgba(158,149,149,0.57);
}

.nav-items ul{
    justify-content: space-between;
    list-style: none;
    /* gap: 10px; */
}

.nav-items ul a{
    text-decoration: none;
    color: var(--black-clr);
    font-size: 14px;
    font-weight: 500;
    padding: 25px 3px;
}

.nav-items ul a:hover, .categories:hover .categories-subMenu-1 ul li a:hover{
    color: var(--blue-clr);
}

.nav-items li:nth-child(3){
    width: 580px;
    /* padding-right: 60px; */
}

.nav-items .search-input{
    position: relative;
    border: 2px solid red;
}

.search-input .search{
    padding: 13px 40px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid var(--black-clr);
    background-color: rgba(240, 248, 255, 0.611);
    outline: none;
    font-size: 14px;
}

.nav-items .search-input .fa-magnifying-glass{
    position: absolute;
    left: 12px;
    top: 13px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.419);
}

.cart i{
    font-size: 17px;
}

.login{
    padding: 7px 16px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.login:hover{
    background-color: rgba(195, 205, 212, 0.228);
}

.signup{
    padding: 8px 16px;
    background-color: var(--black-clr);
    color: var(--white-clr);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.signup:hover{
    background-color: black;
}

.globe i{
    font-size: 20px;
    border: 1px solid var(--black-clr);
    padding: 7px 9px;
}

.globe i:hover{
    background-color: rgba(195, 205, 212, 0.228);
}

/* CATEGORIES */
.categories-subMenu-1{
    display: none;
}

.categories:hover .categories-subMenu-1{
    display: block;
    position: absolute;
    margin-top: 27px;
    width: 270px;
    background-color: var(--white-clr);
    border: 1px solid rgba(55, 55, 55, 0.372);
}

.categories:hover .categories-subMenu-1 ul{
    width: 100%;
    padding: 2px 0 6.5em;
}

.categories:hover .categories-subMenu-1 ul li{
    padding: 5px 6px;
    justify-content: space-between;
    /* border: 2px solid red; */
    position: relative;
}

.categories:hover .categories-subMenu-1 ul li a{
    color: var(--black-clr);
    font-weight: 500;
    font-size: 14px;
    /* border: 2px solid red; */
    padding: 2px 20px;
    display: block;
    width: 100%;
}

.categories-subMenu-1 .fa-greater-than{
    /* float: right; */
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    top: 15px;
    right: 12px;
}

/* DEV MENU */
.sub-menu-2{
    display: none;
}

.sub-menu-title:hover .sub-menu-2{
    display: block;
    position: absolute;
    top: -22.5px;
    right: -17em;
    width: 270px;
    background-color: var(--white-clr);
    border: 1px solid rgba(55, 55, 55, 0.372);
    padding: 2px 2px 6.1em;
}

/* UDEMY POPUP */
.popup-content{
    display: none;
}

.popup-content button{
    padding: 10px 50px;
}
.popup:hover .popup-content{
    position: absolute;
    display: block;
    max-width: 320px;
    margin-top: 30px;
    margin-left: -9em;
    text-align: center;
    background-color: var(--white-clr);
    padding: 17px 7px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid rgba(92, 92, 92, 0.424);
}

/* CART POPUP */
.cart-popup-content{
    display: none;
}

.cart-popup:hover .cart-popup-content{
    position: absolute;
    display: block;
    margin-top: 30px;
    margin-left: -14em;
    text-align: center;
    background-color: var(--white-clr);
    padding: 13px 4em;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgba(92, 92, 92, 0.424);
    color: rgba(0, 0, 0, 0.683);
}

.cart-popup:hover .cart-popup-content p{
    margin-bottom: 10px;
}

.cart-popup:hover .cart-popup-content a{
    color: var(--blue-clr);
    font-size: 16.5px;
}



/* HERO SECTION */
.hero-section{
    background: url(../assets/img/hero-bg-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
    width: 99.3%;
    margin: auto;
}

.hero-txt{
    background-color: var(--white-clr);
    padding: 21px;
    width: 450px;
    margin: 68px 5em 0;
    color: var(--black-clr);
    box-shadow: 10px 6px 30px -9px rgba(158,149,149,0.57);
-webkit-box-shadow: 10px 6px 30px -9px rgba(158,149,149,0.57);
-moz-box-shadow: 10px 6px 30px -9px rgba(158,149,149,0.57);
position: absolute;
    /* border: 2px solid red; */
}

.hero-txt h1{
    font-size: 33px;
}

.hero-txt p{
    margin-top: 6px;
    font-size: 16px;
}

/* MAIN */
.main-sec{
    width: 100%;
}

.courses{
    margin-top: 2em;
    color: var(--black-clr);
    padding: 0 2em;
}

.title h2{
    font-size: 32px;
}

.title p{
    margin-top: 13px;
    font-size: 20px;
}

/* COURSES-LIST */
.courses-list ul{
    color: var(--black-clr);
    margin-top: 20px;
    list-style: none;
    gap: 30px;
    font-weight: bolder;
    font-size: 18px;
}

.courses-carousel-title{
    border: 1px solid rgba(52, 51, 51, 0.18);
    margin-top: 25px;
    padding: 30px;
}

.courses-carousel-title h3{
    font-size: 25px;
}

.courses-carousel-title p{
    margin-top: 12px;
    font-size: 16px;
    max-width: 800px;
}

button{
    padding: 12px 16px;
    background-color: transparent;
    font-weight: bolder;
    border: 1px solid black;
    margin-top: 20px;
    cursor: pointer;
}

button:hover{
    background-color: rgba(195, 205, 212, 0.228);
}

.courses-carousel-contents{
    margin-top: 25px;
    overflow-x: scroll;
    gap: 10px;
    padding-bottom: 23px;
    position: relative;
}

.courses-carousel-contents::-webkit-scrollbar{
    background-color: rgba(198, 194, 194, 0.156);
    height: 2px;
}

.carousel-arrow{
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--black-clr);
    color: var(--white-clr);
    border-radius: 40px;
    padding: 12px 17px;
    font-weight: bolder;
    font-size: 25px;
    z-index: 100000000000;
    display: none;
}

.courses-carousel-content a{
    color: var(--black-clr);
    text-decoration: none;
}

.courses-carousel-content img{
    height: 130px;
    width: 240px;
    border: 1px solid rgba(0, 0, 255, 0.167);
}

.carousel-txt h3{
    font-size: 16px;
}

.carousel-txt p{
    font-size: 12px;
    color: #191919cb;
}

.carousel-txt p:last-child{
    font-weight: bolder;
    font-size: 16px;
    color: var(--black-clr);
    margin-bottom: 7px;
}

.carousel-txt del{
    color: #19191970;
    font-size: 15px;
}

.rating{
    gap: 6px;
}

.rating span{
    color:#b4690e;
    font-weight: bolder;
}

.rating span:last-child{
    color: rgba(12, 12, 12, 0.46);
    font-weight: bold;
    font-size: 12px;
}

.rating .stars i{
    color: #e59819;
    font-size: 12px;
}

.carousel-txt .best{
    background-color: #eceb98;
    color: #3d3c0a;
    font-size: 10px;
    font-weight: bolder;
}

/* STUDENT VIEWING */
.student-viewing{
    padding: 30px;
}

.student-viewing title{
    margin-top: 2em;
    padding: 0 2em;
}

.student-carousel-img img{
    height: 130px;
    width: 280px;
}

/* FEATURED TOPICS */
.featured{
    background-color: #f7f9fa;
    margin-top: 2em;
    padding: 30px;
}

.featured-title h3{
    padding-top: 30px;
    font-size: 26px;
}

.categories{
    margin-top: 10px;
    gap: 12em;
}

.categories ul{
    list-style: none;
    margin-top: 20px;
}

.categories ul li:last-child{
    margin-top: 5px;
}

.categories li a{
    color: var(--blue-clr);
    font-weight: bold;
}

/* TRUSTED TEAMS */
.trusted-teams{
    margin-top: 5em;
    text-align: center;
    color: var(--black-clr);
}

.trusted-teams-title h3{
    font-size: 25px;
    margin-bottom: 7px;
}

.teams{
    margin-top: 20px;
    justify-content: space-between;
    gap: 40px;
    padding: 0 30px;
}

/* STORIES */
.stories{
    margin-top: 7em;
    background-color: #f7f9fa;
    border: 2px solid rgba(26, 26, 26, 0);
}

.story{
    background-color: var(--white-clr);
    justify-content: space-between;
    max-width: 870px;
    min-height: 50vh;
    margin: 40px auto;
    border: 1px solid rgba(88, 87, 87, 0.302);
    padding: 0 10em 0 25px;
}

.story .left i{
    font-size: 20px;
}

.story .left p{
    margin-top: 6px;
    margin-bottom: 5em;
    max-width: 443.75px;
    text-align: justify;
}
.story .left a{
    color: var(--blue-clr);
    font-weight: bold;
}

.story .right{
    text-align: center;
}

.story .right img{
    width: 150px;
    border-radius: 80px;
}

.story .right span{
    color:#282828ac;
}
.story .right p{
    margin-top: 12px;
}

.stories .more {
    justify-content: center;
    color: var(--blue-clr);
    font-weight: bold;
    margin-top: 2em;
    text-decoration: none;
    padding-bottom: 30px;
}

/* UDEMY BUSINESS */
.udemy-bus{
    margin-top: 5em;
    justify-content: center;
    gap: 5em;
}

.upskill h3{
    font-size: 35px;
    max-width: 380px;
}
.black-btn{
    padding: 13px 20px;
    background-color: var(--black-clr);
    color: var(--white-clr);
    font-weight: bolder;
    margin-top: 20px;
    cursor: pointer;
}

.black-btn:hover{
    background-color: black;
}

.upskill ul{
    margin-top: 5px;
    padding-left: 25px;
    font-size: 22px;
    max-width: 470px;
}

.upskill li{
    padding: 6px;
}

/* BECOME AN INSTRUCTOR */
.instructor{
    gap: 6em;
    margin-top: 5em;
    justify-content: center;
}

.instructor-txt h3{
    font-size: 35px;
}

.instructor-txt p{
    margin-top: 5px;
    font-size: 20px;
    max-width: 400px;
}

/* FOOTER */
.foot-sec{
    margin-top: 5em;
    background-color: var(--black-clr);
    padding: 30px 40px;
}

.footer-head{
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.cols{
    justify-content: space-between;
    width: 100%;
}

.col ul{
    list-style: none;
}

.col ul li{
    padding: 10px;
}

.col ul a{
    font-size: 14px;
    color: var(--white-clr);
    font-weight: 500;
    text-decoration: none;
}

.lang button{
    background-color: transparent;
    color: var(--white-clr);
    border: 1px solid var(--white-clr);
    padding: 5px 30px;
}
/* FOOTER-BOTTOM */
.footer-bottom{
    margin-top: 4em;
    justify-content: space-between;
}

.footer-bottom p{
    color: white;
    text-decoration: none;
    cursor: auto;
}

/* MEDIA QUERIES */
@media screen and (max-width: 980px) {
    .udemy-bus{
        flex-direction: column-reverse;
        margin-top: 5em;
        justify-content: center;
        gap: 2em;
        text-align: center;
        padding: 0 30px;
    }

    .udemy-bus li{
        text-align: left;
    }

    .upskill{
        padding: 0 30px;
    }
    
    .upskill h3{
        font-size: 35px;
        max-width: 630px;
    }

    .upskill .black-btn{
        padding: 20px 7em;
        background-color: var(--black-clr);
        color: var(--white-clr);
        font-weight: bolder;
        margin-top: 20px;
        cursor: pointer;
        margin-right: 3px;
    }

    .upskill button{
        padding: 20px 7em;
    }

    .upskill-img img{
        width: 74%;
    }

    .upskill ul{
        margin-top: 5px;
        padding-left: 25px;
        font-size: 22px;
        max-width: 600px;
    }

    .upskill li{
        padding: 6px;
    }

    /* BECOME AN INSTRUCTOR */
    .instructor{
        flex-direction: column;
        gap: 2em;
        margin-top: 5em;
        justify-content: center;
        text-align: center;
    }

    .instructor-txt h3{
        font-size: 35px;
    }

    .instructor-txt p{
        margin-top: 5px;
        font-size: 20px;
        max-width: 650px;
        padding: 0 30px;
    }

    .instructor-img img{
        width: 90%;
    }

    /* TRUSTED TEAMS */
    .trusted-teams{
        margin-top: 5em;
        text-align: center;
        color: var(--black-clr);
    }

    .trusted-teams-title h3{
        font-size: 25px;
        margin-bottom: 10px;
    }

    .teams{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 30px;
        justify-items: center;
        column-gap: 15px;
        padding: 0 30px;
    }
}

/* MEDIA SCREEN AT 700PX */
@media screen and (max-width: 700px){
    .foot-sec{
        margin-top: 5em;
        background-color: var(--black-clr);
        padding: 30px 20px;
    }

    .footer-head{
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 30px;
    }

    .cols{
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .col ul{
        list-style: none;
    }

    .col ul li{
        padding: 5px;
    }

    .col ul a{
        color: var(--white-clr);
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
    }

    .col ul a:hover{
        text-decoration: underline;
    }

    .lang button{
        border-color: var(--white-clr);
        color: var(--white-clr);
        padding: 12px 40px;
        font-size: 20px;
    }

    /* FOOTER-BOTTOM */
    .footer-bottom{
        margin-top: 4em;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .footer-bottom p{
        color: white;
        text-decoration: none;
        cursor: auto;
        font-size: 12px;
    }
} 